

.sectionStyle { 
    background-image: url('https://img.freepik.com/premium-photo/jacket-laying-back-chair-inside_1048944-30619005.jpg?ga=GA1.1.605566897.1725475014&semt=ais_siglip');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 300px;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; // Text color
    text-align: center; 
}
.sectionStyles { 
    background-image: url('https://img.freepik.com/premium-photo/jacket-laying-back-chair-inside_1048944-30619005.jpg?ga=GA1.1.605566897.1725475014&semt=ais_siglip');
    background-size: cover;
    background-position: center;
    height: 300px;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; // Text color
    text-align: center; 
}
  .carousel-caption-center {
    position: absolute; // Positioning for centered caption
    top: 50%; // Center vertically
    left: 50%; // Center horizontally
    width: 100%;
    transform: translate(-50%, -50%); // Adjust for true center
}


@media (max-width: 576px){
  .carousel-control-prev,
    .carousel-control-next {
        display: none; // Hide controls on mobile
    }
  #des {
    font-size: 18px;
    font-weight: bold;
  }
  .sectionStyles {
    height: 200px; // Adjust height for smaller screens
  }
  .carousels h1 {
    font-size: 35px;
  }
  .carousels p {
    font-size: 14px;
    font-weight: bold;
  }
}
