.sectionStyless { 
    background-image: url('https://img.freepik.com/premium-photo/jacket-laying-back-chair-inside_1048944-30619005.jpg?ga=GA1.1.605566897.1725475014&semt=ais_siglip');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 500px;  
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; // Text color
    text-align: center; 
  }
.sectionStyless h1{
    font-family: playfair-display;
    font-size: 80px;
    margin-bottom: 30px;
}  
.sectionStyless h5{
    font-size: 24px;
    margin-bottom: 20px;
}  
.btn3{ 
    background-color: #000;
    font-weight: 600;
    color: #fff;
    padding: 14px 41px;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}  
.btn3:hover {
    background-color: #AE845F;
    color: #fff; 
}

@media (max-width: 576px){
    .sectionStyless h5{
        font-size: 18px;
    }
    .sectionStyless h1{
        font-family: playfair-display;
        font-size: 40px;
        margin-bottom: 30px;
    }  
  }
  